In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [4]:
from google.colab import files
uploaded =files.upload()

Saving energydata_complete.csv to energydata_complete.csv

In [7]:
nv = pd.read_csv('energydata_complete.csv')
nv.head(10)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.890000,47.596667,19.20,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.500000,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.890000,46.693333,19.20,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.600000,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.890000,46.300000,19.20,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.700000,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.890000,46.066667,19.20,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.800000,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.890000,46.333333,19.20,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.900000,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
5,2016-01-11 17:50:00,50,40,19.890000,46.026667,19.20,44.500000,19.79,44.933333,18.890000,...,17.000000,45.29,6.016667,734.000000,92.000000,5.333333,43.833333,4.800000,44.919484,44.919484
6,2016-01-11 18:00:00,60,50,19.890000,45.766667,19.20,44.500000,19.79,44.900000,18.890000,...,17.000000,45.29,5.900000,734.100000,92.000000,5.000000,40.000000,4.700000,47.233763,47.233763
7,2016-01-11 18:10:00,60,50,19.856667,45.560000,19.20,44.500000,19.73,44.900000,18.890000,...,17.000000,45.29,5.916667,734.166667,91.833333,5.166667,40.000000,4.683333,33.039890,33.039890
8,2016-01-11 18:20:00,60,40,19.790000,45.597500,19.20,44.433333,19.73,44.790000,18.890000,...,17.000000,45.29,5.933333,734.233333,91.666667,5.333333,40.000000,4.666667,31.455702,31.455702
9,2016-01-11 18:30:00,70,40,19.856667,46.090000,19.23,44.400000,19.79,44.863333,18.890000,...,17.000000,45.29,5.950000,734.300000,91.500000,5.500000,40.000000,4.650000,3.089314,3.089314

In [9]:
nv.columns

Index(['date', 'Appliances', 'lights', 'T1', 'RH_1', 'T2', 'RH_2', 'T3',
       'RH_3', 'T4', 'RH_4', 'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8',
       'RH_8', 'T9', 'RH_9', 'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed',
       'Visibility', 'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

In [10]:
nv.shape

(19735, 29)

In [13]:
nv.isnull().sum()

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [14]:
nv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [22]:
nv1 = nv[['T2', 'T6']]
nv1.head(10)

      T2        T6
0  19.20  7.026667
1  19.20  6.833333
2  19.20  6.560000
3  19.20  6.433333
4  19.20  6.366667
5  19.20  6.300000
6  19.20  6.263333
7  19.20  6.190000
8  19.20  6.123333
9  19.23  6.190000

#answer to number 12

In [23]:
x = nv1[['T2']]
y = nv1['T6']

#to import linear regression

In [25]:
from sklearn.linear_model import LinearRegression

In [27]:
linear_model = LinearRegression()
#fix the model to the training dataset
linear_model.fit(x,y)

LinearRegression()

In [29]:
#make prediction
y_preds = linear_model.predict(x)
y_preds

array([ 5.37165597,  5.37165597,  5.37165597, ..., 19.67562202,
       19.19818742, 18.86506395])

#find r2 value

In [31]:
from sklearn.metrics import r2_score

In [41]:
r2_score(y, y_preds).round(2)

0.64

#round up to 2 decimal place

In [42]:
nv2 = nv.drop(columns = ['date', 'lights'])
nv2.head(3)

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,60,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,50,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668

#to drop

In [43]:
nv2.columns

Index(['Appliances', 'T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4',
       'T5', 'RH_5', 'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9',
       'T_out', 'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility',
       'Tdewpoint', 'rv1', 'rv2'],
      dtype='object')

#normalize dataset using minimaxscalar

In [46]:
from sklearn.preprocessing import MinMaxScaler

In [47]:
scaler = MinMaxScaler()

In [55]:
normalize = pd.DataFrame(scaler.fit_transform(nv2), columns = nv2.columns)
features = normalize.drop(columns = ['Appliances'])
features.columns

Index(['T1', 'RH_1', 'T2', 'RH_2', 'T3', 'RH_3', 'T4', 'RH_4', 'T5', 'RH_5',
       'T6', 'RH_6', 'T7', 'RH_7', 'T8', 'RH_8', 'T9', 'RH_9', 'T_out',
       'Press_mm_hg', 'RH_out', 'Windspeed', 'Visibility', 'Tdewpoint', 'rv1',
       'rv2'],
      dtype='object')

In [56]:
target = normalize['Appliances']
target

0        0.046729
1        0.046729
2        0.037383
3        0.037383
4        0.046729
           ...
19730    0.084112
19731    0.074766
19732    0.242991
19733    0.383178
19734    0.392523
Name: Appliances, Length: 19735, dtype: float64

#to split data to train set and test set

In [58]:
from sklearn.model_selection import train_test_split

In [59]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size = 0.3, random_state = 42)
x_train, x_test, y_train, y_test

(             T1      RH_1        T2      RH_2        T3      RH_3        T4  \
 9129   0.497360  0.236767  0.122850  0.565939  0.373878  0.303474  0.476577
 2453   0.286167  0.482616  0.188999  0.669978  0.217957  0.735317  0.270270
 9152   0.422386  0.230529  0.057427  0.606430  0.373878  0.338059  0.414414
 12694  0.560718  0.446840  0.280834  0.704002  0.514290  0.515189  0.540541
 16952  0.835269  0.422071  1.000000  0.318493  0.745383  0.459106  0.900901
 ...         ...       ...       ...       ...       ...       ...       ...
 11284  0.524815  0.381892  0.239157  0.636236  0.481888  0.478268  0.576577
 11964  0.591341  0.458949  0.428883  0.607461  0.456962  0.582489  0.557658
 5390   0.369588  0.238785  0.152653  0.481582  0.240944  0.412370  0.279279
 860    0.527983  0.234933  0.315047  0.412016  0.332336  0.380122  0.540541
 15795  0.478705  0.294652  0.275503  0.509045  0.456962  0.365633  0.414414

            RH_4        T5      RH_5  ...        T9      RH_9     T_out  \
 9129   0.264760  0.408027  0.159533  ...  0.475893  0.376380  0.168810
 2453   0.691421  0.178691  0.333576  ...  0.240375  0.703504  0.262594
 9152   0.236449  0.378404  0.151639  ...  0.468262  0.409803  0.110397
 12694  0.486556  0.509317  0.424604  ...  0.561915  0.340784  0.444802
 16952  0.516432  0.748845  0.455819  ...  0.854318  0.633278  0.849946
 ...         ...       ...       ...  ...       ...       ...       ...
 11284  0.517712  0.455805  0.250877  ...  0.568852  0.471578  0.468382
 11964  0.702518  0.417582  0.285310  ...  0.561915  0.625966  0.717042
 5390   0.325651  0.302914  0.161743  ...  0.312175  0.426325  0.126474
 860    0.341585  0.259914  0.245539  ...  0.375650  0.509106  0.227224
 15795  0.502490  0.369804  0.192086  ...  0.468262  0.500828  0.374598

        Press_mm_hg    RH_out  Windspeed  Visibility  Tdewpoint       rv1  \
 9129      0.862791  0.776316   0.142857    0.984615   0.192308  0.724554
 2453      0.836434  0.807018   0.142857    0.600000   0.342383  0.864041
 9152      0.853488  0.859649   0.095238    0.917949   0.158371  0.499502
 12694     0.559690  0.750000   0.119048    0.384615   0.558069  0.323173
 16952     0.530233  0.355263   0.142857    0.600000   0.787330  0.341060
 ...            ...       ...        ...         ...        ...       ...
 11284     0.492248  0.706140   0.476190    0.600000   0.562594  0.910318
 11964     0.469767  0.552632   0.142857    0.600000   0.791855  0.698711
 5390      0.595349  0.828947   0.261905    0.948718   0.165913  0.381388
 860       0.831008  0.530702   0.095238    0.600000   0.114630  0.020909
 15795     0.682558  0.809211   0.071429    0.600000   0.495475  0.349076

             rv2
 9129   0.724554
 2453   0.864041
 9152   0.499502
 12694  0.323173
 16952  0.341060
 ...         ...
 11284  0.910318
 11964  0.698711
 5390   0.381388
 860    0.020909
 15795  0.349076

 [13814 rows x 26 columns],
              T1      RH_1        T2      RH_2        T3      RH_3        T4  \
 8980   0.432946  0.230529  0.120669  0.525822  0.256730  0.380122  0.419820
 2754   0.538543  0.717641  0.377272  0.700066  0.368339  0.956224  0.489489
 9132   0.485744  0.233281  0.111461  0.564252  0.371109  0.300670  0.467568
 14359  0.485744  0.385561  0.566271  0.404255  0.401573  0.381679  0.656757
 8875   0.335093  0.223007  0.026411  0.552910  0.232635  0.356753  0.374775
 ...         ...       ...       ...       ...       ...       ...       ...
 831    0.560718  0.300248  0.370487  0.412504  0.386895  0.576414  0.608709
 10993  0.518479  0.310063  0.225345  0.593214  0.481888  0.446799  0.464865
 11761  0.436818  0.340611  0.188999  0.633705  0.381356  0.403490  0.422523
 12364  0.550158  0.390973  0.334383  0.602774  0.481888  0.468453  0.576577
 11863  0.432946  0.420145  0.213230  0.688912  0.365570  0.482474  0.414414

            RH_4        T5      RH_5  ...        T9      RH_9     T_out  \
 8980   0.279129  0.312470  0.322900  ...  0.457856  0.408251  0.217578
 2754   0.567933  0.224346  0.426866  ...  0.145682  0.622241  0.247588
 9132   0.260350  0.408027  0.157503  ...  0.468262  0.377621  0.167203
 14359  0.323346  0.411212  0.202260  ...  0.561915  0.388797  0.445338
 8875   0.311851  0.244625  0.288467  ...  0.427680  0.477373  0.145766
 ...         ...       ...       ...  ...       ...       ...       ...
 831    0.488263  0.264692  0.304506  ...  0.312175  0.507726  0.220257
 10993  0.495092  0.446249  0.264410  ...  0.561915  0.528422  0.439443
 11761  0.453692  0.378404  0.230779  ...  0.490114  0.356926  0.392283
 12364  0.554702  0.503583  0.237746  ...  0.620881  0.417770  0.494105
 11863  0.589273  0.378404  0.243810  ...  0.479709  0.507726  0.583065

        Press_mm_hg    RH_out  Windspeed  Visibility  Tdewpoint       rv1  \
 8980      0.920930  0.846491   0.166667    0.953846   0.298643  0.512428
 2754      0.588372  0.868421   0.214286    0.400000   0.352941  0.469466
 9132      0.858140  0.776316   0.142857    0.984615   0.190045  0.002761
 14359     0.895349  0.616228   0.369048    0.600000   0.466817  0.205799
 8875      0.938372  0.912281   0.285714    0.735897   0.233032  0.215015
 ...            ...       ...        ...         ...        ...       ...
 831       0.841860  0.756579   0.107143    0.430769   0.251131  0.910115
 10993     0.422093  0.651316   0.583333    0.600000   0.486425  0.975531
 11761     0.665504  0.796053   0.083333    0.969231   0.515083  0.792703
 12364     0.545736  0.596491   0.642857    0.600000   0.520362  0.608307
 11863     0.530620  0.734649   0.500000    0.505128   0.740573  0.198911

             rv2
 8980   0.512428
 2754   0.469466
 9132   0.002761
 14359  0.205799
 8875   0.215015
 ...         ...
 831    0.910115
 10993  0.975531
 11761  0.792703
 12364  0.608307
 11863  0.198911

 [5921 rows x 26 columns],
 9129     0.037383
 2453     0.018692
 9152     0.028037
 12694    0.102804
 16952    0.037383
            ...
 11284    0.046729
 11964    0.102804
 5390     0.018692
 860      0.065421
 15795    0.112150
 Name: Appliances, Length: 13814, dtype: float64,
 8980     0.028037
 2754     0.074766
 9132     0.037383
 14359    0.037383
 8875     0.056075
            ...
 831      0.224299
 10993    0.046729
 11761    0.037383
 12364    0.093458
 11863    0.037383
 Name: Appliances, Length: 5921, dtype: float64)

In [60]:
from sklearn.linear_model import LinearRegression

In [61]:
linear_model = LinearRegression()
#fix the model to the training dataset
linear_model.fit(x_train,y_train)

LinearRegression()

In [62]:
#make prediction
y_preds = linear_model.predict(x_test)
y_preds

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

#to determine the mean absolute errors

In [63]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_preds).round(2)
mae

0.05

#residual sum of square

In [64]:
rss = np.sum(np.square(y_test - y_preds)).round(2)
rss

45.35

#find rsquare or coefficient of determination

In [65]:
from sklearn.metrics import r2_score

In [70]:
r2_score = r2_score(y_test, y_preds).round(2)
r2_score

0.15

#which feature has the lowest and highest

In [78]:
def get_weights_df(model, feat, columns_name):
  #This function returns the weight of every features
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', columns_name]
    weights_df[columns_name].round(3)
    return weights_df

In [86]:
linear_model_weights = get_weights_df(linear_model, x_train, 'linear_model_weights')
linear_model_weights.sort_values

<bound method DataFrame.sort_values of        Features  linear_model_weights
0          RH_2             -0.456698
1         T_out             -0.321860
2            T2             -0.236178
3            T9             -0.189941
4          RH_8             -0.157595
5        RH_out             -0.077671
6          RH_7             -0.044614
7          RH_9             -0.039800
8            T5             -0.015657
9            T1             -0.003281
10          rv1              0.000770
11          rv2              0.000770
12  Press_mm_hg              0.006839
13           T7              0.010319
14   Visibility              0.012307
15         RH_5              0.016006
16         RH_4              0.026386
17           T4              0.028981
18    Windspeed              0.029183
19         RH_6              0.038049
20         RH_3              0.096048
21           T8              0.101995
22    Tdewpoint              0.117758
23           T6              0.236425
24           T3              0.290627
25         RH_1              0.553547>

#to get the lowest

In [87]:
linear_model_weights.min()

Features                Press_mm_hg
linear_model_weights      -0.456698
dtype: object

#to get the highest

In [88]:
linear_model_weights.max()

Features                     rv2
linear_model_weights    0.553547
dtype: object